langchain
langgraph
openai
python-dotenv
tavily-python
requests
pydantic
reportlab
pdfkit
jinja2
aiohttp
loguru
chromadb
apify
langchain-community 
langchain-groq
langchain_tavily
langchain-community
mcp